<!-- list all pets and admission date -->
<table>
<tr>
  <th>
    Name
  </th>
  <th>
    Admitted
  </th>
  <th>
    Edit
  </th>
  <th>
    Show
  </th>
  <th>
    Delete
  </th>
</tr>
    <% @animals.each do |animal| %>
      <tr class="animal-admission-list">
        <td><%= animal.name() %></td>
        <td><%= animal.admission %></td>
        <td><a class="submit-button" href="/animals/<%= animal.id %>/edit">Edit</a></td>
        <td><a class="submit-button" href="/animals/<%= animal.id %>">Show profile</a></td>
        <form method="post" action="/animals/<%= animal.id %>/delete">
          <input type="hidden" name="_method" value="delete">
          <td><input type="submit" value="Delete profile" class="danger-submit-button"></td>
        </form>
      </tr>
    <% end %>

</table>
