<!-- edit pet profile -->
<!-- assign new owner not possible -->

<form method="post" action="/animals/<%= @animal.id %>">
  <input type="hidden" name="_method" value="put">

  <div class="field-group">
    <label for="name-field">Name:</label>
    <div class="field">
      <input
      type="text"
      name="name"
      id="name-field"
      value="<%= @animal.name %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="admission-field">Admission:</label>
    <div class="field">
      <input
      type="text"
      name="admission"
      id="admission-field"
      value="<%= @animal.admission %>"
      />
    </div>
  </div>


  <div class="field-group">
    <label for="species-field">Species:</label>
    <div class="field">
      <input
      type="text"
      name="species"
      id="species-field"
      value="<%= @animal.species %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="breed-field">Breed:</label>
    <div class="field">
      <input
      type="text"
      name="breed"
      id="breed-field"
      value="<%= @animal.breed %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="adopted-field">Adopted:</label>
    <div class="field">
      <input type="radio" name="adopted" value="true" <%= "checked" if @animal.adopted() %> >Adopted<br>
      <input type="radio" name="adopted" value="false"<%= "checked" if !@animal.adopted() %> >Not adopted<br>
    </div>
  </div>

  <div class="field-group">
    <label for="trained-field">Trained:</label>
    <div class="field">
      <input type="radio" name="trained" value="true" <%= "checked" if @animal.trained() %> >Yes<br>
      <input type="radio" name="trained" value="false"<%= "checked" if !@animal.trained() %> >No<br>
    </div>
  </div>

  <div class="field-group">
    <label for="healthy-field">Healthy:</label>
    <div class="field">
      <input type="radio" name="healthy" value="true" <%= "checked" if @animal.healthy() %> >Yes<br>
      <input type="radio" name="healthy" value="false"<%= "checked" if !@animal.healthy() %> >No<br>
    </div>
  </div>

  <div class="field-group">
    <label for="adoptable-field">Adoptable:</label>
    <div class="field">
      <input type="radio" name="adoptable" value="true" <%= "checked" if @animal.adoptable() %> >Yes<br>
      <input type="radio" name="adoptable" value="false"<%= "checked" if !@animal.adoptable() %> >No<br>
    </div>
  </div>

  <input type="submit" value="Submit">

</form>
