<!-- edit pet profile -->
<!-- assign new owner not possible -->

<form method="post" action="/animals/<%= @animal.id %>">
  <input type="hidden" name="_method" value="put">

  <div class="field-group">
    <label for="name-field">Name:</label>
    <div class="field">
      <input
      type="text"
      name="name"
      id="name-field"
      value="<%= @animal.name %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="admission-field">Admission:</label>
    <div class="field">
      <input
      type="date"
      name="admission"
      id="admission-field"
      value="<%= @animal.admission %>"
      />
    </div>
  </div>


  <div class="field-group">
    <label for="species-field">Species:</label>
    <div class="field">
      <input
      type="text"
      name="species"
      id="species-field"
      value="<%= @animal.species %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="breed-field">Breed:</label>
    <div class="field">
      <input
      type="text"
      name="breed"
      id="breed-field"
      value="<%= @animal.breed %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="adopted-field">Adopted:</label>
    <div class="field">
      <p><%= @animal.adopted %></p>
      <input type="radio" name="adopted" value="t" <%= "checked" if @animal.adopted == "t" %> >Adopted<br>
      <input type="radio" name="adopted" value="f" <%= "checked" if @animal.adopted == "f" %> >Not adopted<br>
    </div>
  </div>

  <div class="field-group">
    <label for="trained-field">Trained:</label>
    <div class="field">
      <input type="radio" name="trained" value="t" <%= "checked" if @animal.trained == "t" %> >Yes<br>
      <input type="radio" name="trained" value="f"<%= "checked" if @animal.trained == "f" %> >No<br>
    </div>
  </div>

  <div class="field-group">
    <label for="healthy-field">Healthy:</label>
    <div class="field">
      <input type="radio" name="healthy" value="t" <%= "checked" if @animal.healthy == "t" %> >Yes<br>
      <input type="radio" name="healthy" value="f"<%= "checked" if @animal.healthy == "f" %> >No<br>
    </div>
  </div>

  <div class="field-group">
    <label for="adoptable-field">Adoptable:</label>
    <div class="field">
      <input type="radio" name="adoptable" value="t" <%= "checked" if @animal.adoptable == "t" %> >Yes<br>
      <input type="radio" name="adoptable" value="f"<%= "checked" if @animal.adoptable == "f" %> >No<br>
    </div>
  </div>

  <input type="submit" value="Submit">

</form>
