<!-- edit pet profile -->
<!-- radio buttons syntax unresolved -->

<form method="post" action="/animals/<%= @animal.id %>">
  <input type="hidden" name="_method" value="put">

  <div class="field-group">
    <label for="name-field">Name:</label>
    <div class="field">
      <input
      type="text"
      name="name"
      id="name-field"
      value="<%= @animal.name %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="admission-field">Admission:</label>
    <div class="field">
      <input
      type="text"
      name="admission"
      id="admission-field"
      value="<%= @animal.admission %>"
      />
    </div>
  </div>


  <div class="field-group">
    <label for="adopted-field">Adopted:</label>
    <div class="field">
      <input
      type="text"
      name="adopted"
      id="adopted-field"
      value="<%= @animal.adopted() %>"
      />
    </div>
  </div>

<!-- radio buttons syntax unresolved -->

  <div class="field-group">
    <label for="trained-field">Adopted:</label>
    <div class="field">
      <input type="radio" name="trained" value="true" checked>Yes<br>
      <input type="radio" name="trained" value="false">No<br>

      name="trained"
      id="trained-field"
      value="<%= @animal.trained() %>"
      />
    </div>
  </div>


<input type="submit" value="Submit">
  <button class="button big-button">Update Pizza</button>
</form>
