<!-- list all pets and admission date -->
<table>
<tr>
  <th>
    Name
  </th>
  <th>
    Admitted
  </th>
  <th>
    Edit
  </th>
  <th>
    Show
  </th>
</tr>
    <% @animals.each do |animal| %>
      <tr class="animal-admission-list">
        <td><%= animal.name() %></td>
        <td><%= animal.admission %></td>
        <td><a class="submit-button" href="/animals/<%= animal.id %>/edit">Edit</a></td>
        <td><a class="submit-button" href="/animals/<%= animal.id %>">Show profile</a></td>
        <td><a class="submit-button" href="/animals/<%= animal.id %>/delete">Delete profile</a></td>
      </tr>
    <% end %>

</table>
