<!-- table of owners and their pets -->

<table>
  <tr>
    <th>
      Owner
    </th>
    <th>
      Address
    </th>
    <th>
      Pet
    </th>
  </tr>
  <% @owners.each do |owner| %>
    <% animals = owner.animals %>
    <tr>
      <td>
        <%= owner.pretty_name %>
      </td>
      <td>
        <%= owner.address %>
      </td>
      <td>
        <% if animals.length == 0 %>
          <%= "no pets" %>
        <% else %>

            <% animals.each do |animal| %>
              <p><a class="body-links" href="/animals/<%= animal.id %>"><%= animal.name() %></a></p>
            <% end %>

        <% end %>
      </td>
      <td><a class="submit-button" href="/owners/<%= owner.id %>/edit">Edit</a></td>
      <td><a class="danger-submit-button" href="/owners/<%= owner.id %>/delete">Delete profile</a></td>
  </tr>

  <% end %>

</table>
